<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Django App {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/main.js' defer %}"></script>  
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">
            <span role="img" aria-label="home">🏡</span>
        </a> |
        <a href="{% url 'about' %}">
            <span role="img" aria-label="about">😃</span>
        </a> |
        <a href="{% url 'posts:list'  %}">
            <span role="img" aria-label="post-list">📰</span>
        </a> |
        <a href="{% url 'users:register'  %}">
            <span role="img" aria-label="Register Account">📜</span>
        </a> 
    </nav>
    <main>
        {% block content%} {% endblock content %}
    </main>
</body>
</html>